:root{
    --lime:#e3e800;
    font-family: "Domine", serif;
}
body, header, article, footer, section, figure, div, nav, h1, h2, ul, h3, p {
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    font-size:16px;
    font-weight:300;
}

header {

    background-color:var(--lime);
}
header img{
    width:100vw;

}
nav {
    border-bottom:solid 8px;
}
nav ul{
    list-style:none;
    margin:5px 10px 10px 10px;
    border-top:1px solid black;
    
}
nav li {
    border-bottom:solid 1px;
}
nav a {
    font-family: "Alumni Sans", sans-serif;
    font-weight: 100;
    font-size:2.5em;
    text-decoration:none;
    color:black;
}
nav li:hover {
    background-color:rgba(0,0,1,0.5);
    transition:.5s;
    color:var(--lime);
    
}



img {
    width:100%;
}


main {
    padding:10px;
}
.tiny {
    grid-area:tiny;
    margin-right:5px;
}
.imgspec {
    display:grid;
    grid-template-areas:"small spec";
}
.smallimg {
    grid-area:small;
}
.top {
    grid-area:top;

}
.engine {
    grid-area:engine;
    margin-right:10px;
}
.interior {
    grid-area:interior;
    margin-right:5px;
}
.gary {
    grid-area:gary;
    margin-right:5px;
}


figure {
    font-size:.75em;
    margin-bottom:10px;
}
figcaption {
    padding:5px 0;
    border-bottom:1px black solid;
}
h2{
    padding:5px;
    font-family: "Alumni Sans", sans-serif;
    font-weight:600;
    font-size:1.5em;
    color:white;
    background-color:black;
}

.spec {
    background-color:var(--lime);
    width:100%;
    grid-area:spec;
    margin-left:5px;
}
.spec p{
    font-family: "Alumni Sans", sans-serif;
    font-size:1.25em;
}
.spec b {
    font-weight:600;
}
.specp {
    padding:5px;
}
footer {
    color:var(--lime);
    background-color:black;
    height:50px;
    padding:10px;
    
}
footer p {
    font-family: "Alumni Sans", sans-serif;
    font-weight:400;
    font-size:1.5em;
    padding-top:9px;
    display:inline;
    
}
.evcc {
    float:right;
    font-size:1em;

}