nav ul {
    display:grid;
    grid-template-columns:auto auto auto;
    border-top:1px solid;
    margin:0px 5px;
}

nav li {
    text-align: center;
    border:none;
}
h2 {
    font-size:2.5em;
}
figcaption {
    font-size:1.25em
}
.specp {
    font-size:1.25em;
}
@media screen and (min-width:780px) {
    
    .tiny {
    display:grid;
    grid-template-areas:
    "interior gary";
    grid-template-columns: 1fr 1fr; 
    
    }
    .interior {
        margin-right:5px;
    }
    .gary {
        margin-left:5px;
    }
}

