body {
    font-size:1.5em;
    background-size:cover;
    
}


nav ul {
    display:grid;
    grid-template-columns:auto auto auto;
    border-top:1px solid;
    margin:0px 5px;
}
nav li {
    text-align: center;
    border:none;
}
.indexmain {
    margin:auto;
}
.intro p {
    font-size:2em;
} 
h2 {
    font-size:1.75em;
} 
.quote p {
    font-size:1.25em;
} 
.shell p {
    font-size:1em;
} 


.h1 {
    font-size:1.25rem;
}