body {
    font-size:1.5em;
    
}
@media screen and (min-width:642px){
    body {
        background-image:url("../images/background1.jpg");
        background-position:left;
    }
}
nav ul {
    display:grid;
    grid-template-columns:auto auto auto;
}
nav li {
    text-align: center;
}
.indexmain {
    margin:0px 10%;
}