:root{
    --lime:#e3e800;
    font-family: "Domine", serif;
}
body, header, article, footer, section, figure, div, nav, h1, h2, ul, h3, p {
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    font-size:16px;
    font-weight:100;
}
body{
    background-image:url("../images/background1-1280x960.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:auto;
    background-attachment:fixed;
    background-position:left;

}
header {

    background-color:var(--lime);
}
header img{
    width:100vw;

}
nav ul{
    list-style:none;
    padding-left:6px;
}
nav a {
    font-family: "Alumni Sans", sans-serif;
    font-weight: 100;
    font-size:2em;
    text-decoration:none;
    color:black;
}
nav li:hover {
    background-color:rgba(0,0,1,0.5);
}
nav a:active {
    font-size:3em;
    color:white;
}
nav li {
    border-top:solid 1px;
}
main {
    background-color:rgba(227,232,0,0.6);
}
.home {
    padding:10px;
}

h1 {
    padding-top:10px;
    border-top:solid 10px;
    margin:0px 2px;
    font-family: "Alumni Sans", sans-serif;
    font-weight: 100;
    font-size:7em;
    letter-spacing:1px;
    line-height:60%;
}

.h1 p {
    font-family: "Alumni Sans", sans-serif;
    font-weight: 100;
    font-size:7em;
    letter-spacing:-9%;
    line-height:58%;
    padding-left:1px;
}

.intro p{
    font-family: "Alumni Sans", sans-serif;
    font-weight: 100;
    font-size:1.5em;
    margin-bottom:10px;
    border-top:1px solid;
}
h2{
    font-family: "Alumni Sans", sans-serif;
    font-weight:400;
    font-size:1.5em;
}
.quote {
    margin-bottom:10px;
}
.shell {
    display:grid;
    grid-template-columns:auto auto;
}
.shell p {
    font-size:.8em;
}
footer {
    color:var(--lime);
    background-color:black;
    height:50px;
}
footer p {
    font-family: "Alumni Sans", sans-serif;
    font-weight:600;
    font-size:1.5em;
    padding:10px;
}


