body {
    font-size:1.5em;
    
}

nav ul {
    display:grid;
    grid-template-columns:auto auto auto;
    border-top:1px solid;
    margin:0px 5px;
}
nav li {
    text-align: center;
    border:none;
}
.indexmain {
    margin:0px 10%;
}
.intro p {
    font-size:1.75em;
} 
h2 {
    font-size:1.75em;
} 
.shell p {
    font-size:.8em;
} 
.quote p {
    font-size:1em;
} 

.h1 {
    font-size:1.25rem;
}