body {
    background-image: url("../images/background1.jpg");
    background-size:auto;
    font-size:2em;
}
main {
    background-color:none;
}
article {
    margin:0px 15%;
    background-color:rgba(227,232,0,0.75);
}
.intro p {
    font-size:2em;
} 
h2 {
    font-size:1.75em;
} 
.shell p {
    font-size:1em;
    
} 
.quote p {
    font-size:1.25em;
} 

.h1 {
    font-size:1.5rem;
}




