
nav ul {
    display:grid;
    grid-template-columns:auto auto auto;
    border-top:1px solid;
    margin:0px 5px;
}
nav li {
    text-align: center;
    border:none;
}


@media screen and (min-width:780px) {
    article {
    display:grid;
    grid-template-areas:
    "img img side"
    "txt txt2 side"
    "txt txt2 side"
    "txt txt2 side"
    "txt txt2 side";
    }
    .col1, .img1 {
        margin-right:5px;
    }
    .col2 {
        margin-left:5px;
    }
    .col3 {
        margin-left:5px;
    }
    
}


h2 {
    font-size:1.75em;
} 
p {
    font-size:1em;
}
figcaption {
    font-size:.75em;
}
