
nav ul {
    display:grid;
    grid-template-columns:auto auto auto;
    border-top:1px solid;
    margin:0px 5px;
}
nav li {
    text-align: center;
    border:none;
}


@media screen and (min-width:700px) {
    article {
    display:grid;
    grid-template-areas:
    "img img side"
    "txt txt2 side"
    "txt txt2 side"
    "txt txt2 side"
    "txt txt2 side";
    }
    .col2, .img1 {
        padding-right:10px;
    }
    .looking {
    border-style:none;
    margin-top:0;
    }
}


h2 {
    font-size:1.75em;
} 
p {
    font-size:1em;
}
figcaption {
    font-size:.75em;
}
