nav ul {
    display:grid;
    grid-template-columns:auto auto auto;
    border-top:1px solid;
    margin:0 5px;
}
nav li {
    text-align: center;
    border:none;
}
@media screen and (min-width:780px) {
    article {
        display:grid;
        grid-template-columns: auto auto;
    }
    .left {
        margin-right:5px;
        margin-bottom:5px;
    }
    .right {
        margin-left:5px;
    }
}
h2{
    font-size:1.75em;
}
figcaption {
    font-size:.75em;
}