:root{
    --lime:#e3e800;
    font-family: "Domine", serif;
}
body, header, article, footer, section, figure, div, nav, h1, h2, ul, h3, p, figcaption {
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    font-size:16px;
    font-weight:100;
}
body{
    background-image:url("../images/background2-1280x960.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:auto;
    background-attachment:fixed;
    background-position:center;

}
header {

    background-color:var(--lime);
}
header img{
    width:100vw;

}
nav {
    border-bottom:solid 8px;
}
nav ul{
    list-style:none;
    margin:5px 10px 10px 10px;
    border-top:1px solid black;
    
}
nav li {
    border-bottom:solid 1px;
}
nav a {
    font-family: "Alumni Sans", sans-serif;
    font-weight: 100;
    font-size:2.5em;
    text-decoration:none;
    color:black;
}
nav li:hover {
    transition:.3s;
    background-color:rgba(0,0,1,0.5);
    color:var(--lime);
}



main {
    background-color:rgba(255,255,255,0.75);
    padding:10px;
}

p {
    font-size:1em;
    
    
}
.left {
    margin-bottom:5px;
}

figure {
    margin-bottom:10px;
    
}
figcaption {
    padding:5px 0;
    font-size:.75em;
    
    border-bottom:1px solid;
}
h2{
    font-family: "Alumni Sans", sans-serif;
    font-weight:400;
    font-size:1.5em;
    text-align: center; 
    
}
footer {
    color:var(--lime);
    background-color:black;
    height:50px;
    padding:10px;
    
     
}
footer p {
    font-family: "Alumni Sans", sans-serif;
    font-weight:400;
    font-size:1.5em;
    padding-top:9px;
    display:inline;
    
}
.evcc {
    float:right;
    font-size:1em;

}